header {
    background: $black;
    
    .icon {
        display: $flex;
        flex-direction: $column;
        color: $icon-text;
        width: 1200px;
        margin: 0 auto;

        ul {
            display: $flex;
            justify-content: $end;
            padding: 15px;
        }
        li {
            margin-left: 7px;
            &:hover{
                color: $white;
                cursor: pointer;
                text-decoration: underline;
                }
        }
           
        span {
            font-size: 12px;
        }
    
        .fas {
            color: #009cff;
            font-size: 15px;
            margin-left: 7px;
        }
    }
    

    .menu {
        color: $white;
        width: 1200px;
        margin: 0 auto;
        ul {
            display: $flex;
            align-items: center;
        }

        li {
            padding: 20px 25px;
            font-size: 15px;

            img {
                width: 85%;
            }

            &:hover{
                color: $icon-text;
                cursor: pointer;
                }
        }
    }
}

.jumbotron {
    background-image: url('../../images/hero.jpg');
    height: 450px;
    background-position: top;

    .container {
        width: 1200px;
        margin: 0 auto;
        display: $flex;
        justify-content: $end;

        .left {
            color: $white;
            line-height: 45px;
            margin-top: 25px;

            i {
                color: $icon-text;
            }
        }
        
        .right {
            width: 400px;
            height: 435px;
            background: $black;
            opacity: 0.9;
            margin-top: 15px;
            margin-left: 70px;
            color: $white;
            display: $flex;
            justify-content: space-between;

            .money {
                padding: 20px;
            }

            .days {
                padding: 15px;
            }
        }
    }
}