.main-menu {
    height: 55px;
    background: #e6e6e6;

    ul {
        display: flex;

        li {
            text-transform: uppercase;
            padding: 10px 20px;
            line-height: 30px;
            color: #666;
            &:hover {
                background-color: #eee;
                color: $black;
                border-bottom: 2px solid $black;
            }
        }
    }   

}


.intro {
    background-image: url('../../images/intro.jpg');
    height: 850px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;

    .text {
        color: $white;

        .quick-start {
          display: $flex;
          justify-content: center;
          margin-top: 20px;

          img {
              width: 3%;
              margin-right: 15px;
              margin-top: 10px;
          }

        }
               
    }

    .video {
        position: relative;
        .cover {
        width: 1000px;
        height: 570px;
        margin-top: 52px;
        background-image: url('../../images/intro-bg.jpg');
        background-size: cover;
        }

        i {
        position: absolute;
        font-size: 90px;
        color: $white;
        left: 47%;
        top: 46%;
         }
    }

}

.gallery {   
    background: $white;
    color: $black;

    .gallery-images {
        position: relative;

        .fas {
            position: absolute;
            top: 50%;
            color: orange;
            font-size: 30px;
        }

        .fa-chevron-circle-left {
            left: 65px;
        }
        
        .fa-chevron-circle-right {
            right: 65px;
        }
        
        img {
            width: 970px;
            height: 600px;
            margin: 65px 0;
        }
    }    
   
} 

.image-scroll {
    background-image: url('../../images/bg-03.jpg');
}